.hero {
  padding-top: 6em;
  padding-bottom: 2em;

  &--centered {
    text-align: center;
  }

  &--simple {
    h1 {
      margin-bottom: 1em;
    }
  }

  &--star {
    padding-top: 3em;

    background-image: url("/backgrounds/svg/reliably-star.svg");
    background-position: center 2em;
    background-repeat: no-repeat;
    background-size: auto 2em;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  h1 {
    margin-top: 0;

    + strong {
      margin-right: auto;
      margin-left: auto;
      max-width: 20em;
    }
  }

  &__suptitle {
    order: -1;

    color: var(--yellow-500);
    font-family: var(--large-font);
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }

  &__text {
    font-size: 2.4rem;
  }

  &__image {
    height: 40rem;
    width: auto;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}