:root {
  --blue: hsl(170, 29%, 75%);   // #b5d1cc
  --red: hsl(349, 100%, 46%);   // #d81c36
  --brown: hsl(339, 49%, 16%);  // #371722
  --yellow: hsl(41, 100%, 50%); // #f5b111


  --blue-100: hsl(170, 31%, 97%);
  --blue-200: hsl(170, 31%, 90%);
  --blue-300: var(--blue); // hsl(170, 29%, 75%)
  --blue-400: hsl(170, 25%, 60%);
  --blue-500: hsl(170, 25%, 50%);
  --blue-600: hsl(170, 40%, 35%);
  --blue-700: hsl(170, 50%, 20%);
  --blue-800: hsl(170, 75%, 14%); // #093e36
  --blue-900: hsl(168, 90%, 8%);  // #02271f

  --red-100: hsl(349, 100%, 95%);
  --red-200: hsl(349, 100%, 84%);
  --red-300: hsl(349, 100%, 72%);
  --red-400: hsl(349, 100%, 60%);
  --red-500: var(--red); // hsl(349, 100%, 46%)
  --red-600: hsl(349, 100%, 35%);
  --red-700: hsl(349, 100%, 27%);
  --red-800: hsl(349, 100%, 15%);
  --red-900: hsl(349, 100%, 8%);

  --yellow-100: hsl(51, 100%, 95%);
  --yellow-200: hsl(49, 100%, 84%);
  --yellow-300: hsl(46, 100%, 73%);
  --yellow-400: hsl(44, 100%, 62%);
  --yellow-500: var(--yellow); // hsl(41, 100%, 50%)
  --yellow-600: hsl(37, 100%, 40%);
  --yellow-700: hsl(31, 100%, 30%);
  --yellow-700: hsl(21, 100%, 25%);
  --yellow-800: var(--brown); // hsl(339, 49%, 16%)
  --yellow-900: hsl(339, 55%, 9%);

  --grey-100: hsl(170, 9%, 96%);
  --grey-200: hsl(170, 8%, 85%);
  --grey-300: hsl(170, 7%, 70%);
  --grey-400: hsl(170, 6%, 59%);
  --grey-500: hsl(170, 5%, 48%);
  --grey-600: hsl(170, 6%, 37%);
  --grey-700: hsl(170, 7%, 26%);
  --grey-800: hsl(170, 8%, 15%);
  --grey-900: hsl(170, 9%, 8%);

  --reliably-cli-blue: #44c4d1;
  --reliably-cli-green: #42c731;
  --reliably-cli-purple: #e34ce2;
  --reliably-cli-red: #d5482f;
  --reliably-cli-yellow :#b8b731;
}